.navbar{
    background-color: #000;
    height:80px;
    z-index: 1;
  }

  .navlogo{
      margin: 0 30px 0 15px ;
  }

  .search{
      height: 30px;
      margin-left: 17px;
      padding-left: 10px;
      width: 300px;
      height: 35px;
      background-color:rgb(7, 7, 7);
      border-radius: 5px;
      /* border-color: white; */
      /* box-shadow: rgba(55, 132, 233, 0.514); */
      position: relative;
      /* outline-width: thin; */
      justify-content: center;

      
  }
  
  .sticky {
    position:fixed;
    top: 0;
    width: 100%;
  }
  .outerdiv{
    margin: 20px;
    padding: 5px;
    text-align: center;
    text-transform:uppercase;
    }
    .innerdiv{
    margin: 30px;
    color: turquoise;
    /* word-spacing: 5px; */
    }
    .text{
        margin: 16px !important;
    }
    .divsticky{
      position:sticky;
      bottom:0px;
      z-index:1;
    }
    .divsticky1{
      position:sticky;
      top:80px;
      z-index:1;
    }
    .a:hover{
      background-color: aqua;
    }